<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mdgn.app" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>MDGN App</name>
    <description>MDGN Coin Selling Bot Client</description>
    <author email="you@example.com">Mamad</author>

    <!-- Load your Vite build -->
    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="34" />
    </platform>

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="2000" />
</widget>
